.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  

  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(122, 122, 214);
  padding: 10px;
  color: white;
}

.title {
  margin: 0,
}

.nav {
  display: flex;
  gap: 15px;
}


.principal{
  padding-top: 80px;
}

.formCadastro{
  background-color: #7c69da;
}

.Link {
  position: relative;
  color: aliceblue;
  text-decoration: none;
  display: inline-block;
}

.Link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0; 
  height: 1px; 
  background-color: #ffffff; 
  transition: width 0.3s ease-in-out; 
}

.Link:hover::after {
  width: 100%; 
}

.teste {
  width: 350px;
  height: 30px;
}

.containner {
  /* pass; */
}

.botao-cadastrar {
  background-color: #80ace5; 
  color: white;             
  padding: 10px 20px;        
  border: none;              
  border-radius: 5px;       
  cursor: pointer;           
  font-size: 16px;         
  width: 150px; 
}

.botao-cadastrar:hover{
  background-color: #5e548e;
}